/* Generated for Chrome v124.0.0.0 on Linux */
@font-face {
    font-family: "Vazir FD";
    src: url("https://cdn.fontcdn.ir/Fonts/VazirFD/ef0d00bc563865136e2c7862189a087bb01d420f32392fbfc08890c907c44997.woff2") format("woff2");
    font-weight: 100;
    font-style: normal;
}
@font-face {
    font-family: "Vazir FD";
    src: url("https://cdn.fontcdn.ir/Fonts/VazirFD/e33b24022ec2dfbb92d5c22da4b3a49925397c0c9dfeea2796b9eb67467172c7.woff2") format("woff2");
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: "Vazir FD";
    src: url("https://cdn.fontcdn.ir/Fonts/VazirFD/47c66af4381435232bbadc5218cc7750734f01d171202e8242e932dbd6c3149d.woff2") format("woff2");
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: "Vazir FD";
    src: url("https://cdn.fontcdn.ir/Fonts/VazirFD/5287509c7520f9c4d3f0cee37c1ee4faf099cafd0c314f18b763a33860c953b2.woff2") format("woff2");
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: "Vazir FD";
    src: url("https://cdn.fontcdn.ir/Fonts/VazirFD/c4db85cb63fadc85c0f1dd39f8fb12f06884ae7d6daa5e83f21966f2b329ba08.woff2") format("woff2");
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: "Vazir FD";
    src: url("https://cdn.fontcdn.ir/Fonts/VazirFD/f1a33789c334dd2126609d0fe55011b55b47e1e0145a03a852fbbc86e065a086.woff2") format("woff2");
    font-weight: 900;
    font-style: normal;
}
/* CACHED: 2024-07-07T04:02:10+04:30 */
/* Powered by FontServer.ir */